@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "colors.scss";

@mixin button-properties {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    padding: 4px 12px;
    margin-top: 12px;
    display: inline;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

@mixin text-input-properties {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 2px 0;
    position: relative;
    width: 100%;
    font-size: 1.5vw;

    ::placeholder {
        color: rgba(0, 0, 0, 0.267);
    }
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: -0.2px;
    font-family: var(--formFont), 'Lato', 'Helvetica', 'Arial', sans-serif;
}